body{
    margin: 0px;
    background-color: black;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    border: 1px solid seashell;
    height: 69px;
    width: auto;
}

.imglogo {
    height: 50px;
    padding-left: 10px;
    display: inline-block;
    float: left;
    
    
}


ul li {
    display: inline;
     text-decoration: underline;
     justify-content: flex-end;
     float: right;
     height: 100%;
     padding: 0px 20px;
   
}

.main {
    width: 1200px;
    height: 700px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    margin: 0 auto;
    display: flex;

}

.heart {
    text-align: center;
    align-content: center;
    background-color: black;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    vertical-align: middle;
}

.tripleim {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}
figure {
    width: 300px;
    height: 67%;
    overflow: hidden;
    margin: 1%;
}

figure img {
    display: flex;
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 3.334%;
}

#t1, #t4 {
    width: 100%;
    text-align: center;
}

.locations {
background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
background-image: cover;
height: 500px;
 display: flex;
text-align: center;
flex-wrap: wrap;
justify-content: center;  
background-repeat: no-repeat;
align-content: center;
flex: 1 1 1200px;
    

}

.locations-container {
    background-color: black;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    opacity: 1;
}




.location-content {
    text-align: center;
    width: 100%;

    
    
}

.location-content h2 {
    margin-top: 20px;
}

.location-container {
    display: flex;
}
