body{
    margin: 0px;
    background-color: black;
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    border: 1px solid seashell;
    height: 69px;
    width: auto;
}

.imglogo {
    height: 50px;
    padding-left: 10px;
    display: inline-block;
    float: left;
    
    
}


ul li {
    display: inline;
     text-decoration: underline;
     justify-content: flex-end;
     float: right;
     height: 100%;
     padding: 0px 20px;
   
}

.main {
    width: 1200px;
    height: 700px;
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg);
    margin: 0 auto;
    display: flex;

}

.heart {
    text-align: center;
    align-content: center;
    background-color: black;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    vertical-align: middle;
}

.tripleim {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}
figure {
    width: 300px;
    height: 67%;
    overflow: hidden;
    margin: 1%;
}

figure img {
    display: flex;
    max-width: 100%;
    height: auto;
}

figcaption {
    margin-top: 3.334%;
}

#t1, #t4 {
    width: 100%;
    text-align: center;
}

.locations {
    background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg);
    width: 1200px;
    height: 500px;
    color: antiquewhite;
    display: flex;
    flex-flow: column;
    align-items: center;
    background-position: center;
    background-size: cover;
   
    justify-content: left;
    margin-left: 30px;
    margin-top: 5%;
}

.location-content {
    width: 100%;
    justify-content: center;
    background-color: transparent;
    display: flex;
}

.locations-content h2 {
    background-color: transparent;
}

.locations-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: transparent;
    flex-wrap: wrap;
    opacity: 1; 
}

.adress {
    margin: 20px;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    flex-basis: 300px;
}